<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="Processors" type="shipper.Configuration.ProcessorsSection,shipper"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="Debug" value="false" />
  </appSettings>
  <Processors>
    <InputProcessors>
      <InputProcessor type="udp" metadata="22123" output="tcpredis"/>
      <InputProcessor type="udp" metadata="22124" output="tcpredis"/>
      <InputProcessor type="udp" metadata="23000" output="tcpredis"/>
      <InputProcessor type="udp" metadata="23001" output="tcpredis"/>
      <InputProcessor type="udp" metadata="23002" output="tcpredis"/>
      <InputProcessor type="udp" metadata="23003" output="tcpredis"/>
      <InputProcessor type="udp" metadata="23004" output="tcpredis"/>
      <InputProcessor type="udp" metadata="23005" output="tcpredis"/>
      <InputProcessor type="udp" metadata="23006" output="tcpredis"/>
      <InputProcessor type="udp" metadata="23007" output="tcpredis"/>
      <InputProcessor type="udp" metadata="23008" output="tcpredis"/>
      <InputProcessor type="udp" metadata="23009" output="tcpredis"/>
      <InputProcessor type="udp" metadata="23010" output="tcpredis"/>
    </InputProcessors>
    <OutProcessors>
      <!-- metadata="connectionstring|db|key" -->
      <!--<OutputProcessor name="redis" type="redis" metadata="redis-logstash.aws.csprd.com.au,connectTimeout=3000,abortConnect=false,connectRetry=3|6|logstash"/>-->

      <OutputProcessor name="tcpredis" type="tcpredis" metadata="redis-logstash.aws.csprd.com.au|6|logstash"/>
    </OutProcessors>
  </Processors>
</configuration>